@if (pokemonDetail()?.sprites?.back_default) {
  <div class="card" style="width: 10rem;height: 20rem;">
    <img [src]="pokemonDetail()?.sprites?.back_default" class="card-img" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ pokemon().name}}</h5>
      <p class="card-text">{{ pokemon().name}} desc.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
}
@else
{
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}
