<div>
  <h1 class="text-center">My Pokemon</h1>
</div>

<div class="py-3 px-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Detail</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (pokemon of pokemonDisplayList; track pokemon.name) {
      <tr>
        <td>{{ pokemon.index }}</td>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.url }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            (click)="HandleClickedDeletePokemon(pokemon.name)"
          >
            <i class="bi bi-info-circle"></i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="HandleClickedDeletePokemon(pokemon.name)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
