<div class="d-flex justify-content-center">
  <div class="container-small d-flex justify-content-center">
    <div class="d-flex flex-column">
      <app-header></app-header>

      <h3>projects</h3>
      <div class="submenu">
        @for (item of project(); track item.text) {
          <div>
            <a [routerLink]="item.link">{{ item.text }}</a>
          </div>
        }
        @empty {
          NO ITEMS!!
        }
      </div>

      <br/>

      <h3>test</h3>
      <div class="submenu">
        @for (item of subMenu(); track item.text) {
          <div>
            <a [routerLink]="item.link">{{ item.text }}</a>
          </div>
        }
        @empty {
          NO ITEMS!!
        }
      </div>
    </div>
  </div>
</div>
