<div class="d-flex justify-content-center">
  <div class="container-small d-flex justify-content-center">
    <div class="d-flex flex-column">
      <app-header></app-header>

      <div class="submenu">
        <ng-container *ngIf="subMenus && subMenus.length > 0; else noItems">
          <ng-container *ngFor="let item of subMenus">
            <div>
              <a [routerLink]="item.link">{{ item.text }}</a>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noItems>
          NO ITEMS!!
        </ng-template>
      </div>
    </div>
  </div>
</div>
